body {
    background-image: url("Cozy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    background: rgb(250, 224, 205);
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
#task-input {
    background-color: #f9f7fe;
    width: 70%;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
#addTaskButton {
    background-color: rgb(236, 210, 157);
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 7px;
}
.task-box {
    background: f9f4ee;
    border-radius: 20px;
    border: 1px solid #e6d6ca;
    padding: 15px;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05);
    max-height: 400px;
    overflow-y: auto;
}
li {
    background-color: #fff7f2;
    margin-bottom: 12px;
    padding: 12px 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6d6ca;
    transition: background 0.3s, transform 0.2s;

}
li:hover {
    background-color: #fff;
    transform: translateY(-2px);
}
.task-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #b9816d;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked {
    background-color: #b9816d;
    box-shadow: inset 0 0 0 3px #fff;
}
li.completed .task-text {
    text-decoration: line-through;
    color: #999;
}
.delete-button {
    background: none;
    border: none;
    color: #b9816d;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 15px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.2s;
}
.delete-button:hover {
    background-color: #f0e1d8;
    transform: scale(1.1);
}
